<%- include('partials/header'); -%>

<h1>All Users</h1>
<h3>Today: <%= date %></h3>

<div id="cards">
<% users.forEach(function(user){ %>
    <div class="user-card" style="width: 18rem;">
        <div class="user-card-body">
          <img class="user-card-img" src="/images/user-icon.jpeg" alt="user image">
          <h5 class="user-card-title"><%= user.username %></h5>
          <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Time: </h6> -->
          <!-- <p class="user-card-text"><div></div> </p><br><p class="desc">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href='/users/<%= user.vanity %>' class="user-card-link"><button class="part_btn">Profile</button></a>
        </div>
    </div>


<% }) %> 

</div>




<%- include('partials/footer'); -%>